%section.panel.panel-default.panel-timeline
  .panel-body
    .media
      .media-title-container.clearfix
        .media-left
          = link_to "#" do
            = image_tag "users/user_4.jpg", class: "media-object", alt: ""
        .media-body
          .media-wrapper.clearfix
            %span.media-title
              %span
                %strong= link_to "Everett Cooper", "#"
              at
              %span= link_to "WCCB Charlotte TV Station.", "#"
            = link_to "#", class: 'btn-dropdown' do
              %i.glyphicon.glyphicon-chevron-down.lighter
          .media-time-ago
            %small
              %time 17 hrs
              &middot; Instagram &middot; Edited &middot;
              %i.glyphicon.glyphicon-user.lighter
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
      = image_tag "posts/post_4.jpg", class: "img-responsive"
      .action-list.clearfix
        .border
        %ul
          %li.small-left
            = link_to "#" do
              %i.glyphicon.glyphicon-thumbs-up
              Like
          %li.small-center
            = link_to "#", class: "comment" do
              %i.glyphicon.glyphicon-comment
              Comment
          %li.small-right
            = link_to "#" do
              %i.glyphicon.glyphicon-share-alt
              Share
  .comment-container.clearfix
    .border
    .comment-box
      .media-left= image_tag "users/user_0.jpg", class: "pull-left"
      .media-body
        %input.form-control.pull-left{:placeholder => "Write a comment...", :type => "email"}
