.container#timeline
  .row
    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
      = render 'post_1'
      = render 'post_2'
      = render 'post_3'
      = render 'post_4'
      = render 'post_5'
      = render 'post_6'
